[CLOUD_CREDENTIALS]
host = dynaslope.phivolcs.dost.gov.ph
user = cbewsl
password = cb3wsls3rv3r
default_schema = cbewsl_commons_db

[RPI_CREDENTIALS]
host = localhost
user = root
password = senslope
default_schema = cbewsl_commons_db

[DB_SCHEMAS]
schemas = cbewsl_commons_db, cbewsl_mar_collections, cbewsl_umi_collections 